@font-face {
    font-family: "poppins";
    src: url(Poppins-Regular.ttf);
}

body {
    background-color: rgb(173, 92, 219);

}

h1 {
    color: rgb(255, 8, 0);
}

.small {
    font-size: 50px;
}

.big {
    font-size: 200px;
}

.pink {
    color: rgb(133, 24, 235);
}

.poppins {
    font-family: "poppins";
    font-weight: 400;
    font-style: normal;
    color: aqua;
}

.button {
    background-color: rgb(240, 135, 16);
    color: blue;
    border: none;
    height: 50px;
    width: 70px;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
    border-width: 1px;
    transition: opacity 300ms,
    background-color 200ms,
    box-shadow 200ms;
}

.button:hover {
    color: crimson;
    text-decoration-line:underline;
    box-shadow: 10px 10px 20px rgba(187, 107, 15, 0.5);
}

.button:active {

}